
body{

    background: aliceblue;

}

.jumbotron{
    background: transparent;
}

.jumbotron >h1{

    font-size: 70px;
    font-weight:bold;

}

#email{
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 400px;

}


#password{
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 400px;

}

