

.jumbotron{

  background: transparent;
    color: mintcream;

}

.jumbotron > h1{

    font-weight: bold;
    font-size: 100px;

}

#putEventBtn{

    font-size: 25px;
    font-weight: 100;
    border-radius: 10px;
    transition: font-size 1s,border-radius 1s;
}

#putEventBtn:hover{

    font-size: 40px;
    border-radius: 100px;
    background: darkblue;
}

#viewEventBtn{


    font-size: 25px;
    font-weight: 100;
    border-radius: 10px;
    transition: font-size 1s,border-radius 1s;

}

#viewEventBtn:hover{

    font-size: 40px;
    border-radius: 100px;
    background: darkblue;
}


#video-background{

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height:100%;
    width: auto;
    height: auto;
    z-index: -100;

}